/.atom/
/nohup.out
/mapped/packages_own.txt
/mapped/.apm/
/mapped/.node-gyp/
/mapped/blob-store/
/mapped/compile-cache/
/mapped/packages/
/mapped/storage/application.json
/mapped/github.cson
/mapped/recovery
/mapped/split-diff
/mapped/git-time-machine
/mapped/storage
/mapped/nohup.out
