"*":
  "atom-beautify":
    general:
      _analyticsUserId: "f2d489bd-0afc-42d9-84f1-4f49072c3520"
  core:
    telemetryConsent: "no"
  editor:
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "foobar"
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
  welcome:
    showOnStartup: false
