"*":
  core:
    telemetryConsent: "no"
  "exception-reporting":
    userId: "foobar"
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
  welcome:
    showOnStartup: false
