"*":
  "activate-power-mode":
    plugins:
      playAudio: true
      screenShake: true
  "atom-beautify":
    general:
      _analyticsUserId: ""
  core:
    disabledPackages: [
      "wrap-guide"
      "github"
    ]
    telemetryConsent: "no"
  editor:
    fontFamily: "Fira Code"
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "foobar"
  "linter-ui-default":
    panelHeight: 69
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
  welcome:
    showOnStartup: false
